{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="container py-5 px-4">
  <div class="row pt-5">
    <div class="col-12 col-sm-8 col-lg-6 mx-auto pt-2 pt-md-4">
      <h1>{% trans "Login" %}</h1>
      <p>{% blocktrans %}If you have not created an account yet, then please click
      <a href="{{ signup_url }}"><b>register</b></a> to create an account.{% endblocktrans %}</p>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        </div>
        <button class="btn btn-outline-dark" type="submit">{% trans "Login" %}</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
