styling for base.html

.logo a {
    text-decoration: none;
    color: white;

}

.logo a:hover {
    text-decoration: none;
    color: white;

}

a, a:hover {
    text-decoration: none;
    color: black;
}

.card-title h2 {
    text-align:justify
}

.fa-map {
    margin-left: 20px;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 20px;
}

.navbar-dark .navbar-toggler {
    margin-right: 20px;
}

.alert-success {
    margin: 0;
}

styling for home.html

.img-fluid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    position: relative;
    filter: brightness(60%);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 .wel-title {
    color: white;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info h3 {
    text-align: center;
    padding: 10px;
    margin: 20px 0 5px;
}

hr {
    border: rgb(201, 201, 201) 1px;
    border-bottom: solid;
    width: 80%;
}

.card {
    margin: 20px 0;
}

.col-sm h5 {
    text-align: center;
    padding: 0;
}


/* styling for home.html */

/* .img-fluid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    position: relative;
} */

/* .wel-title {
    color: white;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.info {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info h3 {
    text-align: center;
    padding: 10px;
    margin: 20px 0 5px;
}

hr {
    border: rgb(201, 201, 201) 1px;
    border-bottom: solid;
    width: 80%;
}

.card {
    margin: 20px 0;
}

.col-sm h5 {
    text-align: center;
    padding: 0;
}

.topBtn {
    margin: 50px auto;
}

.card-container {
    padding: 20px;
}

.form-group {
    margin: 30px;
}

.like-btn {
    text-decoration: none;
    border: none;
    background: none;
}

.image-flash {
    min-width: 30%;
    background-color: #023020;
    color: white;
    padding-left: 10px;
}

.col-md-4 {
    padding: 20px;
}

.deny_create, .deny_update {
    justify-content: center;
    text-align: center;
} 