{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!--CSS stylesheet-->
  <link rel="stylesheet" href="/static/css/style.css">
  <!--favicon icons-->
  <link rel="shortcut icon" type="image/png" href="/static/favicon/favicon-map.png" />
<!-- block title created in base template to act universally for other html documents -->
  <title>
    {% block title %}{% endblock %}
  </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #023020;">
        <div class="logo">
          <a href="{% url 'home' %}">
            <span><i class="fa-regular fa-map"></i> Open Road</span>
          </a>
        </div>
        <button 
          class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbar">
              <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'roadtrips' %}">Road Trips</a>
                <a class="nav-item nav-link" href="{% url 'post_create' %}">Add Post</a>
                <a class="nav-item nav-link" href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'account_signup' %}">Register</a>
                <a class="nav-item nav-link" href="{% url 'account_login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'roadtrips' %}">Road Trips</a>
                {% endif %}
            </div>
        </div>
    </nav>
          <div class="text-center">
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                  {{ message | safe }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
          </div>
    {% block content %}
    <section></section>
    <section></section>
    {% endblock %}
    <footer class="footer mt-auto py-3 dark-bg">
      <p class="m-0 text-center text-white">Made by Megan Horsley</p>
      <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
          <i class="fab fa-twitter-square ms-3"></i>
          <i class="fab fa-instagram-square ms-3"></i>
          <i class="fab fa-youtube-square ms-3"></i></p>
    </footer>
    <script>
      setTimeout(function () {
          let messages = document.getElementById('msg');
          let alert = new bootstrap.Alert(messages);
          alert.close();
      }, 2750);
    </script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

  <script src="../static/index.js">
  </script>
  <script src="https://kit.fontawesome.com/33824b6518.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>

</body>
</html>