{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<section>
    <div class="hero">
        <img src="https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid" alt="woman looking at map" style="max-width: 100%; height:auto;">
        <div class="wel-title">
        <h2 class="welcome">Welcome to Open Road</h2>
        <h3 class="subheading">A space to share and read travel posts to inspire your inner-adventurer!</h3>
        <button class="btn btn-light"><a href="{% url 'roadtrips' %}">Read Travel Posts</a>
        </div>
    </div>
</section>
<section>
    <div class="info">
        <h3>More Information</h3>
        <hr />
    </div>
    <div class="card-container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img src="https://images.pexels.com/photos/385997/pexels-photo-385997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Toy car">
                    <div class="card-body">
                        <h5 class="card-title">Get to know us</h5>
                        <p class="card-text">If you want to read more about who we are and our company, click the button below for more information.</p>
                        <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#aboutUs">
                              About Us
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="aboutUs" tabindex="-1" aria-labelledby="aboutUslLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="aboutUsLabel">Who are we?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Open Road is a website that provides a selection of road trip routes around Northern America. Our goal is to either encourage you to want to take a new adventure or if you are already a weathered traveler; provide you inspiration to take a journey around the USA.
        
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </div>
                    </div>
                </div>
            </div>
</div>
</div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img src="https://images.pexels.com/photos/5966311/pexels-photo-5966311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Couple looking at map">
                    <div class="card-body">
                        <h5 class="card-title">North American Road Trips</h5>
                        <p class="card-text">Not sure whether you want to sign up? Click the button below to view some of our blog posts.</p>
                        <a href="{% url 'roadtrips' %}" class="btn btn-success">Road Trips</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img src="https://images.pexels.com/photos/5052875/pexels-photo-5052875.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="Image of a person typing on their keyboard">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                          <h5 class="card-title">View</h5>
                          <p class="card-text">View</p>
                          <div>
                            <a href="{% url 'account_login' %}" class="View">Login</a>
                          </div>

                            {% else %}
                            <h5 class="card-title">Want to view some more of our Road Trips?</h5>
                            <p class="card-text">You can view more of our road trips by either logging in or signing up by clicking the buttons below.</p>
                            <div>
                            <a href="{% url 'account_login' %}" class="btn btn-outline-dark">Login</a>
                            <a href="{% url 'account_signup' %}" class="btn btn-dark">Register</a>
                            </div>
                            {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://images.pexels.com/photos/7928094/pexels-photo-7928094.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="Wyoming Nature">
                          </div>
                          <div class="carousel-item">
                            <img src="https://images.pexels.com/photos/15162121/pexels-photo-15162121.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="Founding Fathers">
                          </div>
                          <div class="carousel-item">
                            <img src="https://images.pexels.com/photos/12720630/pexels-photo-12720630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="Yellowstone, Wyoming">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      <button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-dark topBtn {
                        margin: 50px auto;
                    }">Scroll Back To Top</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}