{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<section>
    <div class="hero">
        <img src="https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid" alt="woman looking at map" style="max-width: 100%; height:auto;">
        <h2 class="wel-title">Welcome to Open Road</h2>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="" alt="">
                <div class="card-body">
                    <h5 class="card-title">
                        <p class="card-text">
                        </p>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}