{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<main class="container p-4">
  <!-- Feature Content -->
  <div class="p-4 p-md-5 mb-4 text-white rounded" style="background-color: #023020;">
    <div class="col-md-6 px-0">
      <h1 class="display-3 fst-italic align-middle">Ready for an Adventure?</h1>
      <p class="lead my-3">Welcome to Open Road, a space to share and read blog posts about road trips around the USA</p>
      <p class="lead mb-0">
        <a href="{% url 'roadtrips' %}" class="text-white fw-bold">Read More</a>
      </p>
    </div>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner rounded">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/764998/pexels-photo-764998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="Toy car">
        <div class="carousel-caption d-none d-md-block rounded" style="background-color: #023020;">
          <h5 class="caro-h5">Get Inspired</h5>
          <p>Take the off beaten track down the dusty lanes of Texas</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/7928094/pexels-photo-7928094.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="Wyoming Nature">
        <div class="carousel-caption d-none d-md-block rounded" style="background-color: #023020;">
          <h5 class="caro-h5">Escape into the Adventure</h5>
          <p>A stunning forest in the heart of Wyoming</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/12720630/pexels-photo-12720630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="Yellowstone, Wyoming">
        <div class="carousel-caption d-none d-md-block rounded" style="background-color: #023020;">
          <h5 class="caro-h5">Get Inspiration for your travel plans</h5>
          <p>The beautiful Yellowstone National Park</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top <i class="fa-solid fa-angles-up"></i></button>
</main>
{% endblock %}