{% extends "base.html" %} 
{% block title %} Add New Roadtrip {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <div>
    {% if posted %}
        <div class="alert alert-success" role="alert">
            Thank you for submitting! Your Roadtrip post is awaiting approval.
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            I'm sorry, there was an issue submitting your form. Please try again.
        </div>
    {% endif %}
</div> -->

    <!-- Display messages -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <section class="container py-5 px-4">
        <h1>Add Roadtrip Post</h1>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{  form.as_p }}
                <button class="btn btn-outline-dark" type="submit">Submit Post</button>
                </div>
            </form>
        </div>
        <script>
            var name = "{{ user.id }}";
            document.getElementById("hide-author").value = name;
        </script>
    </section>
{% endblock %}