{% extends "base.html" %} 
{% block title %} Edit Roadtrip Post {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <div>
    {% if posted %}
        <div class="alert alert-success" role="alert">
            Thank you for submitting! Your Roadtrip post is awaiting approval.
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            I'm sorry, there was an issue submitting your form. Please try again.
        </div>
    {% endif %}
</div> -->
    <section class="container">
        <h1>Edit Roadtrip Post</h1>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{  form.as_p }}
                </div>
                <button class="btn btn-outline-dark" type="submit">Update Post</button>
            </form>
        </div>
    </section>
{% endblock %}