{% extends "base.html" %} 
{% block title %} Add New Roadtrip {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-botton mb-4">Add New Road Trip</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}