{% extends "base.html" %} 
{% block title %} Delete Roadtrip Post {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="container">
        <h1>Delete: {{ post.title }}</h1>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %} <br>
                <strong>Are you sure?</strong><br>
                </div>
                <button class="btn btn-danger" type="submit">Delete Post</button>
            </form>
        </div>
    </section>
{% endblock %}